@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	min-height: 100vh;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

.swiper-pagination-fraction,
.swiper-button-prev:after,
.swiper-button-next:after {
	color: rgb(255, 255, 255) !important;
	text-shadow: 2px 2px 4px #000000;
	position: relative;
	top: 5px;
}

.font-poppins {
	font-family: 'Poppins', sans-serif;
}

.font-lato {
	font-family: 'Lato', sans-serif;
}
.opaque-image {
	opacity: 0.9;
}

.star {
	position: absolute;
	background-color: aliceblue;
	border-radius: 50%;
}
.nav-icon {
	transition: transform 0.2s ease-in-out;
}
.nav-icon:hover {
	transform: scale(1.2);
}
.active {
	position: relative;
}
.active::before {
	position: absolute;
	content: '';
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 2px;
	background-color: #6ff5ff;
	bottom: -5px;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
